*.iml
.idea
/frontend/public/images/
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/frontend/.env.production
/frontend/.env.development
/frontend/.env.local
/frontend/package-lock.json
/backend-code.zip
